[submodule "node_modules/buster-core"]
	path = node_modules/buster-core
	url = git://gitorious.org/buster/buster-core.git
[submodule "node_modules/buster-format"]
	path = node_modules/buster-format
	url = git://gitorious.org/buster/buster-format.git
[submodule "node_modules/buster-util"]
	path = node_modules/buster-util
	url = git://gitorious.org/buster/buster-util.git
[submodule "node_modules/sinon"]
	path = node_modules/sinon
	url = http://github.com/cjohansen/Sinon.JS.git
[submodule "node_modules/json"]
	path = node_modules/json
	url = https://github.com/douglascrockford/JSON-js.git
[submodule "node_modules/buster-assertions"]
	path = node_modules/buster-assertions
	url = git://gitorious.org/buster/buster-assert.git
